/* Global settings */

*{
  color: #4a4a4a;
}

h1, h2, h3{
  font-family: 'Lato', sans-serif;
}

h4, p, li{
  font-family: 'Roboto', sans-serif;
}

h1{
  font-size: 50px;
  font-weight: 900;
}

h2{
  font-size: 42px;
  font-weight: 900;
}

h3{
  font-size: 26px;
  font-weight: 700;
  line-height: 38px;
}

h4{
  font-size: 18px;
}

p{
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
}

li{
  font-size: 20px;
}

/* This is the HEADER section, contains LOGO and NAVIGATION */

.header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 64px;
  align-items: center;
}

/* lOGO ---------- */

.header .logo{
  display: flex;
  align-items: center;
  margin-left: 24px;
}

.header .logo .image img{
  height: 32px;
}

.header .logo .image #mobile{
  display: none;
}

.header .logo .text .colmar{
  font-weight: 700;
}

.header .logo .text .academy{
  color: #d8d8d8;
}

/* NAVIGATION ---------- */

.header nav{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 24px;
}
.header nav ul{
  display: flex;
  justify-content: space-between;
  width: 450px;
}

.header nav ul li{
  display: inline-flex;
  padding-left: 8px;
}

/* HEADER MEDIA QUERY */

@media screen and (max-width: 768px){
  .header nav, .logo .text{
    display: none;
  }

  .header .logo .image #mobile{
    display: inline;
  }

  .header .logo{
    width: 100%;
    margin: 0px;
  }

  .header .logo .image{
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}

/* This is the LEARN-SOMETHING section , contains BANNER and CALL-TO-ACTION */
.learn-something{
  display: flex;
  align-items: center;
  background-color: #d8d8d8;
  padding: 32px 24px;
}

/* BANNER ---------- */

.learn-something .banner{
  margin-right: 48px;
  width: 60%;
}

.learn-something .banner img{
  width: 100%;
}

/* CALL-TO-ACTION ---------- */

.learn-something .call-to-action{
  display: flex;
  flex-direction: column;
  width: 28.5%;
}

.learn-something .call-to-action .slogan h1{
  margin: 0px;
}

.learn-something .call-to-action .explain-slogan h3{
  margin: 32px 0px;
}

.learn-something .call-to-action .start{
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #4a4a4a;
  justify-content: center;
}

.learn-something .call-to-action .start h4{
  margin: 0px;
  padding: 8px 0px;
  color: white;
}

/* LEARN-SOMETHING MEDIA QUERY */

@media screen and (max-width: 768px){
  .learn-something{
    flex-direction: column;
    padding: 0px;
  }

  .learn-something .banner{
    width: 100%;
    margin: 0px;
    padding: 0px;
  }

  .learn-something .call-to-action{
    padding: 32px 16px;
    width: auto;
  }

  .learn-something .call-to-action .start{
    background-color: #9B9B9B;
  }

}

/* This is the KEEP-PRACTICING section , contains SOCIAL-PROOF and ARTICLES */

.keep-practicing{
  display: flex;
  justify-content: center;
  padding: 0px 0px 0px 24px;
}

/* SOCIAL-PROOF ---------- */

.keep-practicing .social-proof{
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 32px 24px 0px 2px;
}

.keep-practicing .social-proof .image img{
  width: 100%;
}

.keep-practicing .social-proof .title h2{
  margin: 32px 0px 0px 0px;
}

.keep-practicing .social-proof .quote p{
  margin: 24px 0px;
}

.keep-practicing .social-proof .author p{
  margin: 0px 0px 32px 0px;
}

/* ARTICLES ---------- */

.keep-practicing .articles{
  width: 40%;
  padding-top: 32px;
  border-left: 1px solid #d8d8d8;
  margin: 0px;
}

.keep-practicing .articles .orientation,
.campus,
.guest-lecture{
  display: flex;
}

.keep-practicing .articles .orientation{
  margin: 2px;
  padding: 0px 16px 16px 16px;
  border-bottom: 1px solid #d8d8d8;
}

.keep-practicing .articles .campus{
  margin: 2px;
  padding: 16px;
  border-top: 1px solid #d8d8d8;
}

.keep-practicing .articles .guest-lecture{
  padding: 16px;
  background-color: #d8d8d8;
}

.keep-practicing .articles .image{
  width: 35%;
}

.keep-practicing .articles .image #mobile{
  display: none;
}

.keep-practicing .articles .image img{
  width: 100%;
}

.keep-practicing .articles .text{
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 16px;
}

.keep-practicing .articles .text .title h3{
  margin: 0px;
}

.keep-practicing .articles .text .description p{
  margin: 8px 0px;
}

.keep-practicing .articles .text .read-more p{
  margin: 0px;
  color: #2196F3;
}

/* KEEP PRACTICING MEDIA QUERY */

@media screen and (max-width: 768px){
  .keep-practicing{
    padding: 16px 16px 32px 16px;
    border-bottom: 1px solid #d8d8d8;

  }

  .keep-practicing .social-proof{
    display: none;
  }

  .keep-practicing .articles{
    width: auto;
    border: none;
  }

  .keep-practicing .articles .orientation,
  .campus,
  .guest-lecture{
    flex-direction: column;
    border: none;
    padding: 0px;
  }

  .keep-practicing .articles .campus{
    border: none;
    padding: 0px;
    margin: 64px 0px;
  }

  .keep-practicing .articles .guest-lecture{
    padding: 0px;
    background-color: white;
  }

  .keep-practicing .articles .image{
    width: 100%;
  }

  .keep-practicing .articles .image #big-screen{
    display: none;
  }

  .keep-practicing .articles .image #mobile{
    display: block;
  }

  .keep-practicing .articles .text{
    width: 100%;
    padding: 0px;
  }


}

/* This is the START-LEARNING section , contains TITLE and CATEGORIES */

.start-learning{
  display: flex;
  flex-direction: column;
  background-color: #eaebec;
  justify-content: center;
  align-items: center;
  padding: 32px 72px;
}

/* TITLE ---------- */

.start-learning .title h2{
  margin: 0px 0px 32px 0px;
}

/* CATEGORIES ----------- */

.start-learning .categories{
display: flex;
flex-direction: column;
width: 100%;
}

.start-learning .categories .top-container, .bot-container{
  display: flex;
  justify-content: space-between;
}

.start-learning .categories .top-container{
  margin-bottom: 32px;
}

.start-learning .categories .software-engineering,
.computer-art,
.design,
.data,
.business,
.marketing{
  width:100%;
  background-color: white;
}

.start-learning .categories .computer-art, .business{
  margin: 0px 32px;
}

.start-learning .categories .image img{
  width: 100%;
}

.start-learning .categories .text{
  background-color: white;
  height: 150px;
  padding: 16px 16px 24px 16px;
}

.start-learning .categories .text h3, .all-courses p{
  margin: 0px;
  padding: 0px 0px 0px 16px;
}

.start-learning .categories .text .courses p{
  padding: 8px 16px;
  margin: 0px;
}

/* START-LEARNING MEDIA QUERY */

@media screen and (max-width: 768px){
  .start-learning{
    padding: 32px 16px;
    background-color: white;
    border-bottom: 1px solid #d8d8d8;
  }

  .start-learning .title h2{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .start-learning .categories .top-container{
    margin-bottom: 0px;
  }

  .start-learning .categories .top-container, .bot-container{
    flex-direction: column;
  }

  .start-learning .categories .image img{
    display: none;
  }

  .start-learning .categories .text{
    height: auto;
    padding: 0px
  }

  .start-learning .categories .text .courses{
    display: none;
  }

  .start-learning .categories .text .all-courses{
    display: none;
  }

  .start-learning .categories .software-engineering,
  .start-learning .categories .computer-art,
  .start-learning .categories .design,
  .start-learning .categories .data,
  .start-learning .categories .business,
  .start-learning .categories .marketing{
    padding: 16px;
    width: auto;
    height: auto;
    background-color: #d8d8d8;
    margin: 8px 0px;
  }

  .start-learning .categories .text h3{
    margin: 0px;
    padding: 0px;
    background-color: #d8d8d8;
  }
}

/* This is the THESIS-EXHIBIT section , contains TITLE and ALL-THESIS */

.thesis-exhibit{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* TITLE ---------- */

.thesis-exhibit .title h2{
  margin: 32px;
}

/* ALL-THESIS ---------- */

.thesis-exhibit .all-thesis{
  display: flex;
  padding-bottom: 32px;
}

/* reimagine */

.thesis-exhibit .all-thesis .reimagine{
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0px 24px;
}

.thesis-exhibit .all-thesis .reimagine .video video{
  width: 100%;
  margin: 0px
}

.thesis-exhibit .all-thesis .reimagine .subtitle h3{
  margin: 24px 0px 8px 0px;
}

.thesis-exhibit .all-thesis .reimagine .description p{
  margin: 0px;
}

/* more-thesis */
.thesis-exhibit .all-thesis .more-thesis{
  display: flex;
  flex-direction: column;
  width: 40%;
}

.thesis-exhibit .all-thesis .more-thesis .fisma, .now-and-then{
  display: flex;
  align-items: center;
  padding: 16px;
}

.thesis-exhibit .all-thesis .more-thesis .fisma{
  background-color: #d8d8d8;
}

.thesis-exhibit .all-thesis .more-thesis .image{
  width: 35%;
  margin-right: 16px;
}

.thesis-exhibit .all-thesis .more-thesis .image img{
  width: 100%;
}

.thesis-exhibit .all-thesis .more-thesis .text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 65%;
  padding-right: 16px;
}

.thesis-exhibit .all-thesis .more-thesis .text p{
  margin: 0px;
}

.thesis-exhibit .all-thesis .more-thesis .text h3{
  margin: 0px 0px 16px 0px;
}

/* THESIS-EXHIBIT MEDIA QUERY*/

@media screen and (max-width: 768px){

  .thesis-exhibit{
      padding: 32px 0px 24px 0px;
  }

  .thesis-exhibit .title h2{
    padding: 0px;
    margin-bottom: 16px;
  }

  .thesis-exhibit .all-thesis .reimagine{
    width: auto;
    margin: 0px;
  }

  .thesis-exhibit .all-thesis .reimagine .subtitle,
  .thesis-exhibit .all-thesis .reimagine .description{
    display: none;
  }

  .thesis-exhibit .all-thesis .more-thesis{
    display: none;
  }

}

/* This is the FOOTER section */

.footer{
  display: flex;
  justify-content: space-between;
  padding: 16px 24px 50px 24px;
  border-top: 1px solid #d8d8d8
}

.footer .copyright p{
  font-size: 16px;
}

.footer .privacy-terms ul{
  display: flex;
  justify-content: space-between;
  width: 140px;
}

.foot

.footer .privacy-terms ul li{
list-style: none;
font-family: 'Roboto', sans-serif;
font-weight: 300;
font-size: 16px;
}

/* FOOTER MEDIA QUERY */

@media screen and (max-width: 768px){

  .footer{
    padding: 16px;
    margin: 0px;
  }

  .footer .privacy-terms{
    display: none;
  }

}
